<div ng-controller="GetObservation">
    <div class="row">
        <div class="col-lg-6">
            <form name="selectDates" class="form-horizontal">
                <div class="form-group">
                    <h3>Izaberite ili Unesite parametre datuma</h3>
                    <div class="radio">
                        <label>
                            <input ng-model="checked.all" type="radio" value="true" ng-click="allDates()">Odaberi opažanja za sve datume
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input ng-model="checked.selected" value="true" type="radio" ng-click="selectedDates()">Odaberi datume za opažanja
                        </label>
                    </div>
                </div>
                <div ng-show="checked.selected" class="form-group">
                    <label>Početni datum</label>
                    <input datepicker ng-model="dateSelected.dateStart" type="text" class="form-control" placeholder="Datum" required>
                </div>
                <div ng-show="checked.selected" class="form-group animate-show">
                    <label>Završni datum</label>
                    <input datepicker ng-model="dateSelected.dateEnd" type="text" class="form-control" placeholder="Datum" required>
                </div>
                <div class="form-group">
                    <button ng-disabled="selectDates.$invalid" ng-click="numOfObservations()" class="btn btn-default">Prikaži opažanja</button>
                </div>
            </form>
        </div>
        <div class="col-lg-6">
            <div id="map-preview" style="height:500px;"></div>
        </div>
    </div>
    <div ng-show="showResults" class="row">
        <div class="col-lg-6">
            <ul ng-click="getObservations(currentPage)" uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
            <uib-accordion>
                <div uib-accordion-group class="panel-default" ng-repeat="data in observations">
                    <div uib-accordion-heading>
                        <span ng-click="cancelUpdate(data.opazanja_id)">{{data.datum}} - {{data.imeGnij}} </span>
                    </div>
                    <div>Teritorij: <span class="label label-default">{{data.teritorij}}</span>
                        <span ng-click="deleteObservation(data)" class="glyphicon glyphicon-remove pull-right" aria-hidden="true" style="cursor:pointer;"></span>
                        <span ng-click="edit(data.opazanja_id)" class="glyphicon glyphicon-pencil pull-right" aria-hidden="true" style="cursor:pointer;"></span>
                    </div>
                    <div>Točka opažanja: <span class="label label-default">{{data.tockaOpaz}} (X: {{data.xOpaz}}, Y: {{data.xOpaz}})</span>
                    </div>
                    <div>Broj odraslih: <span class="label label-default">{{data.brojOdraslih}}</span>
                    </div>
                    <div>Spol: <span class="label label-default">{{data.spol}}</span>
                    </div>
                    <div>Starost: <span class="label label-default">{{data.starost}}</span>
                    </div>
                    <div>Azimut: <span class="label label-default">{{data.azimut}}</span>
                    </div>
                    <div>Napomena: <span class="label label-default">{{data.napomena}}</span>
                    </div>
                    <div ng-if="showEdit" style="margin-top:20px;">
                        <form>
                            <add-form-input model="editData.opazanja_id" type="number" label="ID opažanja" ng-disabled="true"></add-form-input>
                            <observation-form-static model="editData"></observation-form-static>
                            <observation-form-observation model="editData"></observation-form-observation>
                            <div class="form-group">
                                <button ng-click="cancelUpdate()" class="btn btn-default pull-right">Odbaci izmjene</button>
                            </div>
                            <div class="form-group">
                                <button ng-click="updateObservation(editData)" class="btn btn-default pull-right">Potvrdi izmjene</button>
                            </div>
                        </form>
                    </div>
                </div>
            </uib-accordion>
        </div>
    </div>
</div>
