<div class="form-group">
    <label>{{label}}</label>
    <select ng-disabled="disabled" ng-model="model" class="form-control" type="text" required>
        <option ng-repeat="row in data" ng-if="row[selected].length>0">{{row[selected]}}</option>
    </select>
</div>
