<div class="form-group">
    <label>Datum</label>
    <input datepicker ng-model="model.datum" type="text" class="form-control" placeholder="Datum" ng-disabled="disabled" required>
</div>
<add-form-input model="model.brojOdraslih" type="number" label="Broj odraslih" ng-disabled="disabled"></add-form-input>
<add-form-input model="model.spol" type="text" label="Spol ptića" ng-disabled="disabled"></add-form-input>
<add-form-input model="model.starost" type="text" label="Starost ptića" ng-disabled="disabled"></add-form-input>
<add-form-input model="model.azimut" type="number" label="Azimut od mjesta promatranja prema gnijezdu" ng-disabled="disabled"></add-form-input>
<div class="form-group">
    <label>Napomena</label>
    <textarea ng-model="model.napomena" class="form-control" rows="3" ng-disabled="disabled"></textarea>
</div>
