<add-form-input idbla="imeGnij" model="model.imeGnij" type="text" ng-disabled="disabled" label="Ime gnijezda"></add-form-input>
<add-form-input idbla="teritorij" model="model.teritorij" type="text" ng-disabled="disabled" label="Ime teritorija"></add-form-input>
<add-form-input idbla="tockaOpaz" model="model.tockaOpaz" type="text" ng-disabled="disabled" label="Ime točke promatranja"></add-form-input>
<add-form-input idbla="xGnij" model="model.xGnij" type="text" ng-disabled="disabled" label="X koordinata gnijezda"></add-form-input>
<add-form-input idbla="yGnij" model="model.yGnij" type="text" ng-disabled="disabled" label="Y koordinata gnijezda"></add-form-input>
<add-form-input idbla="xOpaz" model="model.xOpaz" type="text" ng-disabled="disabled" label="X koordinata lokacije s koje je promatrano"></add-form-input>
<add-form-input idbla="yOpaz" model="model.yOpaz" type="text" ng-disabled="disabled" label="Y koordinata lokacije s koje je promatrano"></add-form-input>
