<div ng-controller="AddObservaion">
    <div class="row">
        <div class="col-lg-6">
            <div ng-init="drawStatic()" id="map" style="height:500px;"></div>
        </div>
        <div class="col-lg-6">
            <form name="staticDataForm" novalidate ng-cloak>
                <observation-form-static disabled="disabled" model="enteredData"></observation-form-static>
                <div class="form-group">
                    <button ng-disabled="staticDataForm.$invalid" ng-click="showInput()" class="btn btn-success pull-right">Dodaj opažanje za ovu točku</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" ng-show="isDataSelected">
        <div class="col-lg-6">
            <h2>Unos opažanja</h2>
            <form name="observationDataForm" novalidate>
                <observation-form-observation model="enteredData"></observation-form-observation>
                <div class="form-group">
                    <button ng-disabled="observationDataForm.$invalid" ng-click="addObservation(enteredData)" class="btn btn-error pull-right">Dodaj opažanje za ovu točku</button>
                </div>
            </form>
        </div>
        <div ng-init="getLastObservation()" class="col-lg-6">
            <h2>Zadnjih pet opažanja</h2>
            <div style="overflow: auto;max-width:555px;margin-top:35px">
                <uib-accordion>
                    <div uib-accordion-group class="panel-default" heading="{{data.datum}} - {{data.imeGnij}}" ng-repeat="data in lastObservation">
                        <span>Teritorij: <span class="label label-default">{{data.teritorij}}</span>
                        </span>
                        <span>Točka opažanja: <span class="label label-default">{{data.tockaOpaz}} (X: {{data.xOpaz}}, Y: {{data.xOpaz}})</span>
                        </span>
                        <span>Broj odraslih: <span class="label label-default">{{data.brojOdraslih}}</span>
                        </span>
                        <span>Spol: <span class="label label-default">{{data.spol}}</span>
                        </span>
                        <span>Starost: <span class="label label-default">{{data.starost}}</span>
                        </span>
                        <span>Azimut: <span class="label label-default">{{data.azimut}}</span>
                        </span>
                        <span>Napomena: <span class="label label-default">{{data.napomena}}</span>
                        </span>
                        <!--
<observation-form-static disabled="disabled" model="data"></observation-form-static>
<observation-form-observation disabled="disabled" model="data"></observation-form-observation>
-->
                    </div>
                </uib-accordion>
            </div>
        </div>
    </div>
</div>
