<div class="row">
  <ul class="nav nav-tabs">
    <li role="presentation" ng-class="{active:active.tab=='updateObservation' || !active.tab}"><a ng-click="active.tab='updateObservation'">Ažuriranje opažanja</a></li>
    <li role="presentation" ng-class="{active:active.tab=='updateStatic'}"><a ng-click="active.tab='updateStatic'">Ažuriranje tablice predefiniranih podataka</a></li>
    <li role="presentation" ng-class="{active:active.tab=='uploadCsv'}"><a ng-click="active.tab='uploadCsv'">Uvoz u baze podataka</a></li>
  </ul>

  <div class="tab-content">
    <div ng-switch="active.tab">
      <div ng-switch-when="updateObservation">
        <ng-include src="'templates/admin/update-observation.html'"></ng-include>
      </div>
      <div ng-switch-when="uploadCsv">
        <ng-include src="'templates/admin/upload-csv.html'"></ng-include>
      </div>
      <div ng-switch-when="updateStatic">
        <ng-include src="'templates/admin/update-static.html'"></ng-include>
      </div>
      <div ng-switch-default>
        <ng-include src="templates/admin/update-observation.html"></ng-include>
      </div>
    </div>
  </div>
</div>
