<div ng-controller="UpdateObservation">
    <div class="row">
        <div class=col-md-6>
            <form name="observationID" class="form-inline" novalidate>
                <h3>Unesite ID opažanja</h3>
                <div class="form-group">
                    <input ng-model="enteredData.opazanja_id" type="number" class="form-control" placeholder="ID" required>
                </div>
                <div class="form-group">
                    <button ng-disabled="observationID.$invalid" ng-click="getDataID(enteredData.opazanja_id)" class="btn btn-default pull-right">Prikaži opažanje</button>
                </div>
            </form>
        </div>
    </div>
    <div class=row>
        <div class="col-md-6">
            <div class="animate-show alert alert-danger" ng-show="alterWarning.length>1" role="alert">{{alterWarning}}</div>
        </div>
    </div>
    <div ng-show="choosenID" class="animate-show" ng-cloak>
        <div class="row">
            <div class="col-lg-6">
                <form name="staticDataForm" novalidate>
                    <observation-form-static model="enteredData"></observation-form-static>
                </form>
            </div>
            <div class="col-lg-6">
                <form name="observationDataForm" novalidate>
                    <observation-form-observation model="enteredData"></observation-form-observation>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form class="form-inline" novalidate>
                    <div class="form-group">
                        <button ng-click="deleteObservation(enteredData)" class="btn btn-danger pull-right">Izbriši opažanje</button>
                    </div>
                    <div class="form-group">
                        <button ng-click="updateObservation()" class="btn btn-warning pull-right">Ažuriraj opažanje</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
