<div ng-controller="UpdateStatic">
    <div class="row">
        <div class=col-md-6>
            <form name="observationID" class="form-inline" novalidate>
                <h3>Unesite ID reda u tablici</h3>
                <div class="form-group">
                    <input ng-model="rowData.id" type="number" class="form-control" placeholder="ID" required>
                </div>
                <div class="form-group">
                    <button ng-disabled="observationID.$invalid" ng-click="getStaticID()" class="btn btn-default pull-right">Prikaži red</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" ng-show="rowData.choosenID">
        <div class=col-md-6>
            <form novalidate>
                <add-form-input label="Tip terestričkog staništa" model="rowData.imeGnij" type="text"></add-form-input>
                <add-form-input label="Tip akvatičkog staništa" model="rowData.tockaOpaz" type="text"></add-form-input>
                <add-form-input label="Opis lokaliteta - stanje staništa na lokalitetu" model="rowData.teritorij" type="text"></add-form-input>
                <add-form-input label="Način opažanja" model="rowData.xGnij" type="text"></add-form-input>
                <add-form-input label="Pojas opažanja" model="rowData.yGnij" type="text"></add-form-input>
                <add-form-input label="Opaženo" model="rowData.xOpaz" type="text"></add-form-input>
                <add-form-input label="Status gniježđenja" model="rowData.yOpaz" type="text"></add-form-input>
                <button ng-click="updateStatic()" class="btn btn-danger pull-right">Ažuriraj redak</button>
            </form>
        </div>
    </div>
</div>
