<div class=col-md-6 ng-controller="UploadCSV as csv">
  <form name="uplpadCSV" novalidate>
    <div class=row>
      <div class="col-md-6">
        <div class="animate-show alert alert-danger" ng-show="errorCSV.length>1" role="alert">{{errorCSV}}</div>
      </div>
    </div>
    <div class="form-group" required>
      <h3>Izaberite mysql tablicu za uvoz podataka</h3>
      <div class="radio">
        <label>
                    <input ng-model="selectedTable" type="radio" value="opazanja">Tablica opažanja</label>
      </div>
      <div class="radio">
        <label>
                    <input ng-model="selectedTable" value="static" type="radio">Tablica predefiniranih podataka</label>
      </div>
    </div>
    <div ng-show="selectedTable" class="form-group animate-show">
      <input type="file" ngf-select ng-model="fileName" name="file" required>
    </div>
    <div ng-show="fileName" class="form-group animate-show">
      <button class="btn btn-primary" ng-click="uploadCsv(fileName)">Submit</button>
    </div>
  </form>
  <h2 class="animate-show" ng-show="importCSV.length>1">{{importCSV}}</h2>
</div>
